<div>
<p>Dear {{fname}},</p>
<p>Thank you for reaching out to us at InfyLead. We appreciate your interest in our platform for business automation and lead generation.</p>
<p>To get started, I invite you to check out our demo video, which provides a brief overview of our platform and its capabilities.</p>
<p>You can access the video by following this link - <a href="https://youtu.be/vpfgP1pBhvI">https://youtu.be/vpfgP1pBhvI</a></p>
<p>To gain access to our platform and start generating leads, we invite you to sign up using the following link: <a href="https://www.infylead.com/">https://www.infylead.com/</a>. Once you sign up, you will be able to explore our platform and access our database of over 300 million B2B leads.</p>
<p>Simply click on this link to schedule a demo - <a href="https://www.infylead.com/l/meet-infylead/">https://www.infylead.com/l/meet-infylead/</a>.</p>
<p>At InfyLead, we are committed to helping businesses like yours streamline their operations and generate more leads. If you have any further questions or concerns, please do not hesitate to reach out to us.</p>
<p>Best regards,</p>
<p>Chiranjit Singha | Co-Founder InfyLead</p>
</div>