<div>
<p>Dear {{fname}},</p>
<p>I wanted to personally thank you for signing up to InfyLead, and I am thrilled to welcome you to our platform!</p>
<p>With InfyLead, we aim to simplify your prospecting efforts and help you achieve your business goals more efficiently. To get started, I invite you to check out our demo video, which provides a brief overview of our platform and its capabilities.</p>
<p>You can access the demo video by following this link - <a href="https://youtu.be/vpfgP1pBhvI">https://youtu.be/vpfgP1pBhvI</a></p>
<p>To schedule a demo, simply click on this link - <a href="https://www.infylead.com/l/meet-infylead/">https://www.infylead.com/l/meet-infylead/</a>.</p>
<p>Thank you again for choosing InfyLead, and we look forward to working with you to achieve your business objectives.</p>
<p>Best regards,</p>
<p>Chiranjit Singha | Co-Founder InfyLead</p>
</div>